<div class="row">
	<div class="col-md-4 ">
		<ul class="breadcrumb">
			<li><i class="fa fa-home"></i><a href="#/dashboard">首页</a></li>
			<li class="active">用户管理</li>
		</ul>
	</div>
</div>

<div class="content">
	<div class="main-header">
		<h2>用户</h2>
		<em>{{headerTitle}}</em>
	</div>
	<div class="main-content">
	
    
    <!------------------------- user list ------------------------>
    
	<div class="row">
        <div class="col-lg-12">
        
        	<div class="widget widget-focus-enabled">
           	 	<div class="loading-backdrop" ng-show="loadDivVisible">
           	 		<!--[if !(IE)|IE 9]><!-->
           	 		<i class="fa fa-spinner fa-3x fa-fw circle" loading></i>
           	 		<font class="loading-text">数据加载中...</font>
           	 		<!--<![endif]-->
           	 		<!--[if IE 8]>
           	 		<font class="loading-text">
           	 			数据加载中...
           	 		</font>
           	 		<![endif]--> 
           	 	</div>
            	<div class="widget-header">
                 	<h3><i class="fa fa-table"></i> 用户列表</h3>
                </div>
                <div class="widget-content" id="collapseOne">
                    <div class="dataTable_wrapper">
                    	
                    	<form class="form-inline form" ng-submit="search()" name="searchForm">
                    	 	<select ng-class="form-control" 
                    	 			ng-options="option.name for option in searchOptionsData.availableOptions track by option.value" 
                    	 			ng-model="searchOptionsData.selectedOption"
                    	 			ng-click="changeFilter();" ></select>
						  	
						  	<input 	type="{{filter.type}}" 
						  			class="form-control" 
						  			placeholder="{{filter.placeholder}}" 
						  			ng-model="searchValue" >
						  	
						 	<button type="submit" class="btn btn-default" ng-disabled="searchForm.$invalid">搜索</button>
						</form>
                       	<table class="table table-striped table-bordered table-hover" >
                       		<!-- <md-progress-linear></md-progress-linear> -->
                           	<thead>
                               	<tr>
                               		<th class="col-md-1">ID</th>
                                   	<th>用户名</th>
                                   	<th class="col-md-1">点数余额</th>
                                   	<th class="col-md-1">总花费点数</th>
                                   	<th class="col-md-1">总充值点数</th>
                                   	<th class="col-md-1">登录次数</th>
                                   	<th class="col-md-2">最后登录时间</th>
                                   	<th class="col-md-2">操作</th>
                               	</tr>
                       		</thead>
                       		<tbody>
	                       		<tr ng-if="!items || items.length == 0">
	                       			<td colspan="7">暂无数据显示</td>
	                       		</tr>
                       			<tr ng-repeat="item in items">
                       				<td>{{item.id}}</td>
                       				<td>{{item.username}}</td>
                       				<td>{{item.balance}}</td>
                       				<td>{{item.totalCost}}</td>
                       				<td>{{item.totalDeposit}}</td>
                       				<td>{{item.loginCount}}</td>
                       				<td>{{item.lastLoginAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                       				<td>
                       					<!--[if !(IE)|IE 9]><!-->
	                       				<span ng-controller="ModalAlertCtrl">
	                       					<button class="btn btn-primary btn-xs btn-gritter" 
	                       						uib-tooltip="充值" 
	                       						ng-click="openModal('lg', 'app/user/user-deposit-edit.html', item.username, item.id);">
	                       						<i class="fa fa-pencil-square-o"></i>
	                       					</button>
	                       				</span>
	                       				<!--<![endif]-->
	                       				<!--[if IE 8]>
	                       				<span ng-controller="ModalAlertCtrl">
	                       					<button class="btn btn-primary btn-xs btn-gritter"
	                       						ng-click="openModal('lg', 'app/user/user-deposit-edit.html', item.username, item.id);">
	                       					充值
	                       					</button>
	                       				</span>
	                       				<![endif]--> 
                       				</td>
                       			</tr>
                       		</tbody>
                        </table>
                        
                        <div style="margin-top:-30px;height:50px;float:right;">
							<uib-pagination 
								total-items="totalItems" 
								ng-model="currentPage" 
								max-size="maxSize" 
								class="pagination-sm" 
								boundary-links="true" 
								rotate="true" 
								num-pages="numPages"
								items-per-page="itemsPerPage"
								first-text="首页"
								previous-text="上一页"
								next-text="下一页"
								last-text="末页"
								ng-change="pageChanged()">
							</uib-pagination>
						</div>
						
						<span>
                        	 当前  {{currentPage}} / {{numPages}} 页   &nbsp;&nbsp;  
                        	每页显示 <select ng-options="option.name for option in pageOptionsData.availableOptions track by option.value" 
                    	 		ng-model="pageOptionsData.selectedOption" ng-change="changeShowSize()"></select> 条 | 
                    	 	共 {{totalItems}} 条
                        </span>
                     </div>
                 </div>
             </div>
		</div>
	</div>
	<!------------------------- end user list ------------------------>
	
	
</div>
            